*{
 font-family: 'Times New Roman', Times, serif;
 font-weight: bold;

}

.header{
 width: 100%;
 text-align: center;
 border-style: ridge;
  background-color: #2d2d30;
  border: 0;
  font-size: 20px;
  letter-spacing: 4px;
  opacity: 0.9;
  color:white;
  padding : 0px 0px 0px;
}


p{
font-size: 20px;
}

body{
  margin-bottom: 5px ;
  padding : 0px 1px 5px;
  background-image: linear-gradient(rgb(0, 255, 136) ,cyan);
  width: 100%;
}

.navbar {
  display: flex;
  text-align: center;
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 20px;
  letter-spacing: 4px;
  opacity: 0.9;
  
}
.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

.card-group{
padding: 2px;

}

.card-header{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}


h1, h2 , h5{
  text-align: center;
  text-decoration: underline;
}
 
 
article{
margin-bottom: 50px;
 
}


.container,.container > p{
text-align: center;
}

.talk-container {
  border: 2px solid black (204, 204, 204);
  background-color: rgba(195, 164, 226, 0.603);
  border-radius: 5px;
  padding: 8px;
  margin: 16px 0
}

.talk-container::after {
  content: "";
  clear: both;
  display: table;
}

.talk-container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.talk-container span {
  font-size: 20px;
  margin-right: 15px;
  text-decoration-line: underline;
}

.checked {
  color: orange;
}

@media (max-width: 500px) {
  .talk-container {
      text-align: center;
  }
  .talk-container img {
      margin: auto;
      float: none;
      display: block;
  }
}


footer {
    display: flex;
    justify-content: center;
    padding: auto;
    background-color:#2d2d30;
    color: #fff;
    
}

footer > .fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

footer >.fa:hover {
    opacity: 0.7;
}

footer >.fa-facebook {
  background: #3B5998;
  color: white;
}

.icon{
  float: left;
  font-size: 30px;
}

.tableau{
margin-top: 100px;
margin-bottom: 20px;
}

.columns {
  float: left;
  width: 33.3%;
  padding: 4px;
  font-size: 1.1em;
  margin-bottom: 10px;
  
}

.promo {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  font-weight:900;
  
}

.promo:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.promo .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.promo li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .columns {
    width: 100%;
  }
}