
.header{
 width: 100%;
 text-align: center;
 border-style: ridge;
  background-color: #2d2d30;
  border: 0;
  font-size: 20px;
  letter-spacing: 4px;
  opacity: 0.9;
  color:white;
  padding : 0px 0px 0px;
}



p{
font-size: 20px;

}

body{
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 5px ;
  padding : 0px 1px 5px;
  background-image: linear-gradient(rgb(0, 255, 136) ,cyan);
  width: 100%;
}

.navbar {
  display: flex;
  text-align: center;
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 20px;
  letter-spacing: 4px;
  opacity: 0.9;
  
}
.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

.card-group{
padding: 2px;
}


h1, h2{
  text-align: center;
  text-decoration: underline;
}
 
 
article{
margin-bottom: 50px;
  
}

.container,.container > p{
text-align: center;
font-weight: bold;

}

footer {
    display: flex;
    justify-content: center;
    padding: auto;
    background-color:#2d2d30;
    color: #fff;
}
