.header{
 width: 100%;
 padding: 10px;
 text-align: center;
 background: grey;
}



body{
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 5% ;
  padding : 10px 10px 10px;
  background-image: linear-gradient(green,yellow ,cyan);
}

section{
font-family: 'Times New Roman', Times, serif;
margin-top: 100px;
margin-bottom: 100px;
}



.navbar {
  display: flex;
    background-color: aquamarine;
  text-align: center;
  
}
.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

#validation{
      
      box-sizing: content-box;
      border: solid 5px;
      background-color: rgb(240, 133, 125);
      text-align: center;
      height: 250px ;
      margin-bottom: 10px;
      margin-top :10px;
      width: auto;
  
    
        }
#text{
    
    width: 40% ;
    padding-left : .5rem;
    margin-left: .5rem;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;

}

#last{
display: inline;

}



.img {
  position: relative;
  padding : 20px ;
  margin-top: 2%;
  text-align: center;
}

 .topright{
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
  }

 @media screen and (max-width: 700px) {
  .container{
    flex-direction: column;
    flex: 100%;
  }
}